<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiv.rating.system.mapper.VoucherMapper">

    <select id="queryVouchersOfShop" resultType="com.tiv.rating.system.entity.Voucher">
        SELECT v.*,
               vs.stock,
               vs.begin_time,
               vs.end_time
        FROM voucher v
                 LEFT JOIN seckill_voucher vs ON v.id = vs.voucher_id
        WHERE v.shop_id = #{shopId}
    </select>

</mapper>
